/*
 * Solarized: default to Dark
 */
:root {
    --base03: #002b36;
    --base02: #073642;
    --base01: #586e75;
    --base00: #657b83;
    --base0: #839496;
    --base1: #93a1a1;
    --base2: #eee8d5;
    --base3: #fdf6e3;
    --yellow: #b58900;
    --orange: #cb4b16;
    --red: #dc322f;
    --magenta: #d33682;
    --violet: #6c71c4;
    --blue: #268bd2;
    --cyan: #2aa198;
    --green: #859900;
}

@media (prefers-color-scheme: light) {
    /*
     * Solarized: flip bases for light
     */
    :root {
        --base3: #002b36;
        --base2: #073642;
        --base1: #586e75;
        --base0: #657b83;
        --base00: #839496;
        --base01: #93a1a1;
        --base02: #eee8d5;
        --base03: #fdf6e3;
    }
}

html {
    font-family: Helvetica, sans-serif;
}
body {
    background-color: var(--base03);
    color: var(--base1);
    margin: 24px;
}
/** Center main body */
body > * {
    max-width: 900px;
    margin: 0 auto;
}
h1 {
    color: var(--yellow);
    font-weight: 400;
    font-variant: small-caps;
    text-align: center;
}
li {
    list-style-type: none;
    line-height: 2;
}
main {
    display: flex;
    flex-direction: row;
    max-width: 900px;
}
@media only screen and (max-width: 480px) {
    main {
        flex-direction: column;
    }
}
main section {
    flex: 1;
}
main section h2 {
    text-align: center;
}
main section ul {
    padding: 0;
}
main section li {
}

footer {
    color: var(--base1);
    font-size: small;
}
a {
    color: var(--blue);
}
a:visited {
    color: var(--violet);
}
